// Font

$TitleFont: 'Abril Fatface', cursive;
$TextFont: 'Hind Siliguri', sans-serif;
$TextSize: 18px;


// Color

$MainColor: rgb(151, 240, 203);
$TitleColor: rgb(0, 0, 0);
$TextColor: rgb(83, 83, 83);
$Background: rgb(235, 235, 235)
